body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

.sidebar {
	background-color: #333;
	color: white;
	width: 250px;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	/* new */
}

.sidebar-header {
	background-color: #222;
	padding: 20px;
	text-align: center;
}

.sidebar-header h1 {
	font-size: 24px;
	margin: 0;
}

.sidebar-menu {
	padding: 20px;
}

.sidebar-menu button {
	background-color: transparent;
	color: white;
	border: none;
	padding: 10px 20px;
	width: 100%;
	text-align: left;
	cursor: pointer;
	transition: background-color 0.3s;
}

.sidebar-menu button:hover {
	background-color: #222;
}

.dashboard-content {
	margin-left: 100px;
	padding: 50px;
}

.container {
	background-color: #f2f2f2;
	/* padding: 20px; */
	/* min-height: 100vh; */
}


h2 {
	font-size: 24px;
	margin-top: 0;
}


.bills-table {
	width: 100%;
	border-collapse: collapse;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
}

.bills-table th,
.bills-table td {
	border: 1px solid #ccc;
	padding: 10px;
	align-items: center;
	justify-content: space-between;
	width: fit-content;
	text-align: center;

}

.bills-table th {
	background-color: #f2f2f2;
}


.bills-table input[type="text"],
.bills-table input[type="number"],
.bills-table input[type="date"] {
	width: 90%;

	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 5px;
	transition: border-color 0.3s;
}

.bills-table input[type="text"]:focus,
.bills-table input[type="number"]:focus,
.bills-table input[type="date"]:focus {
	border-color: #008000;

}


#addBillButton {
	background-color: #008000;

	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
}

#addBillButton:hover {
	background-color: #00cc00;

}

#removeBillButton {
	background-color: #db3a2e;

	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
}

#removeBillButton:hover {
	background-color: #f57369;

}

.budget-button {
	background-color: #FFA500;

	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	float: right;
	transition: background-color 0.3s;
}

.budget-button:hover {
	background-color: #FF8C00;

}

a {
	text-decoration: none;
}
